mixin headGoogleTags()
  //- Tells Google not to show the sitelinks search box
  <meta name="google" content="nositelinkssearchbox">
  //- Tells Google not to provide a translation for this document
  <meta name="google" content="notranslate">
